.btnCustom {
    width: 90%;
    height: 50px;
    background: #293978;
    text-align: center;
    color: white;
    border: 1px solid #d7d8da;
    border-radius: 11px;
    position: relative;
    font-family: system-ui;
    font-size: 18px;
    margin-top: 20%;
}

.btnCustomHeader {
    background: white;
    left: 10px;
    top: 20px;
    position: absolute;
}

.headerLabel {
    font-weight: bold;
    font-size: 23px;
}

.header {
    height: 60px;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative,
}

.iconRight {
    font-size: larger;
    color: #b3b3b3;
    right: 10px;
    position: absolute;
}

.iconLeft {
    font-size: x-large;
    color: #b3b3b3;
    left: 5px;
    position: absolute;
}

.content {
    text-align: center;
}

.styledPage {
    margin-top: 10%;
}

.styledLableThanks {
    display: block;
    margin-left: -30%;
    /* color: green; */
    font-size: larger;
    margin-bottom: 10px;
    font-weight: bold;
}

.styledLabelFb {
    display: block;
    margin-left: -5%;
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.styledLabelShare {
    display: block;
    margin-left: -60%;
    font-size: larger;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.styledDivSelected {
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.btnSelected {
    height: 30px;
    font-size: medium;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 15px;
}

.btnSelectedS {
    height: 30px;
    font-size: medium;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(122, 191, 236);
    border: 1px solid rgb(231, 227, 227);
    border-radius: 15px;
}

.styledInput{
    width: 90%;
    margin-top: 10%;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 10px;
    margin: 5% auto;
}

.styledDivModal{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.styledDivIconModal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: rgb(51, 167, 221);
}

.styledIconModal{
    display: block;
    color: white;
    font-size: xx-large;
    margin: 5px auto;
}

.styledDivIconModalS{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: rgb(19, 180, 27);
}

.styledDivModalS{
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
}

.styledDivLabel{
    text-align: center;
    /* margin: 0px; */
}

.styledDivLabel p {
    font-size: larger;
    font-weight: bolder;
    margin: 0px;
}