.headerLabel {
    font-weight: bold;
    font-size: 23px;
}

.header {
    height: 60px;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative,
}

.btnCustomHeader {
    background: white;
    left: 10px;
    top: 20px;
    position: absolute;
}

.iconRight {
    font-size: larger;
    color: #b3b3b3;
    right: 10px;
    position: absolute;
}

.iconLeft {
    font-size: x-large;
    color: #b3b3b3;
    left: 10px;
    position: absolute;
}

.customSubtitleCard {
    font-size: 15px;
}

.customText {
    display: flex;
}

.customText h4 {
    display: inline;
    color: black;
    margin: 0px 10px;
}

.customText h5, .customText h2 {
    display: inline;
    width: 100%;
    margin: 0px 10px;
}

.customIcon {
    color: #5379fe;
}

.customCard {
    overflow: hidden;
    margin: 0 16px 30px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 8%);
}

.cardHeader {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.cardBotom {
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.btnShowDetail {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.styledPage {
    margin-top: 10%;
}

.btnCustom {
    width: 90%;
    height: 50px;
    background: white;
    text-align: center;
    color: black;
    border: 1px solid #d7d8da;
    border-radius: 11px;
    position: relative;
    font-family: system-ui;
    font-size: 18px;
    margin-top: 10px;
}

.btnCustomHeader {
    background: white;
    left: 10px;
    top: 20px;
    position: absolute;
}

.headerLabel {
    font-weight: bold;
    font-size: 23px;
}

.header {
    height: 60px;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.headerSearch {
    height: 60px;
    display: flex;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
}

.iconRight {
    font-size: x-large;
    color: #b3b3b3;
    right: 5%;
    position: absolute;
}

.iconLeft {
    font-size: x-large;
    color: #b3b3b3;
    left: 5%;
    position: absolute;
}

.content {
    text-align: center;
}

.styledPage {
    margin-top: 10%;
}

.searchBar {
    height: 45px;
    width: 80%;
    --background: white;
    border: 0px solid white;
    --box-shadow: none;
    border: 1px solid rgb(218, 215, 215);
    border-radius: 10px;
}

.cancelSearch {
    width: 20%;
    height: 45px;
    background-color: white;
    font-size: medium;
    margin-left: 5px;
    margin-right: 10px;
}

.btnCreate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.styledButtonCloseModal {
    background-color: #293978;
    height: 50px;
    color: white;
    width: 80%;
    /* margin: 8% auto; */
    margin-top: 70%;
    border-radius: 10px;
}

.styledLabel {
    margin-left: -33%;
}

.styledDivIconBlood {
    width: 35px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: rgb(230, 55, 55);
    position: absolute;
    top: 10%;
    left: 8%;
    text-align: center;
}

.styledDivIconAids {
    width: 35px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(25, 114, 216);
    position: absolute;
    top: 10%;
    left: 8%;
    /* text-align: center; */
}

.styledIcon {
    color: white;
    /* margin-top: 5px; */
    font-size: 27px;
    position: absolute;
    left: 3px;
    top: 2px;
}

.styledDivIconHistory {
    width: 35px;
    height: 30px;
    border-radius: 8px;
    background-color: gray;
    position: absolute;
    top: 10%;
    left: 8%;
    /* text-align: center; */
}

.styledIconHistory {
    color: white;
    /* margin-top: 5px; */
    font-size: 27px;
    position: absolute;
    left: 3px;
    top: 2px;
}

.btnShowDetail {
    width: 150px;
    height: 30px;
    /* margin-right: -52%; */
    /* margin-bottom: 15px; */
    background-color: rgb(25, 114, 216);
    color: white;
    border-radius: 5px;
    /* position: absolute; */
    /* bottom: 3%; */
    /* right: 3%; */
}

.styledCardTitle {
    text-align: left;
    font-size: large;
    margin-left: 20%;
    margin-bottom: 10px;
}

.styledSubtitle {
    text-align: left;
    font-size: medium;
    margin-left: 20%;
    margin-bottom: -8px;
}

.styledCardContent {
    text-align: left;
    font-size: medium;
    margin-left: 18%;
    color: rgb(165, 156, 156);
}

.styledMessage {
    font-weight: bold;
    text-align: center;
}

.styledCardTitleBlood {
    text-align: left;
    font-size: large;
    margin-left: 20%;
    margin-bottom: 10px;
    color: white;
}

.styledSubtitleBlood {
    text-align: left;
    font-size: medium;
    margin-left: 20%;
    margin-bottom: -8px;
    color: white;
}

.styledCardContentBlood {
    text-align: left;
    font-size: medium;
    margin-left: 18%;
    color: rgb(165, 156, 156);
    color: white;
}

.styledMessageBlood {
    font-weight: bold;
    text-align: center;
    color: white;
}

.styledMenu {
    /* background: #eee8f2; */
    list-style-type: none;
    /* overflow: hidden; */
    width: 100%;
    text-align: center;
    /* border: 1px solid rgb(230, 226, 226);
    border-left: none;
    border-right: none; */
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 10%;
    padding: 0px 10%;
}

.styledMenu li {
    display: inline-block;
    width: 40%;
    height: 40px;
    line-height: 40px;
    /* border-bottom: 1px solid black; */
    /* color: black; */
    font-weight: bolder;
}

.styledLiSelected {
    display: inline-block;
    width: 40%;
    height: 40px;
    line-height: 40px;
    color: rgb(44, 11, 236);
    border-bottom: 1px solid rgb(44, 11, 236);
    color: rgb(44, 11, 236);
    font-weight: bolder;
}

.styledDivUpcoming, .styledDivHistory {
    margin-top: 15%;
}

.styledCardContentDiv {
    position: absolute;
    left: -16%;
}

.styledCardContentDiv p {
    font-size: small;
}

.styledCardContentS {
    position: absolute;
    /* top: 100px; */
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 2px;
}

.styledCard {
    height: 220px;
}

.styledCardContentS span {
    color: red;
}

.btnCancelCard {
    width: 150px;
    height: 30px;
    margin-right: -52%;
    margin-top: -150px;
    background-color: rgba(0,0,0,0);
    color: white;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    border: 1px solid rgb(153, 147, 147);
    box-shadow: 3px 3px 3px 2px rgba(150, 137, 137, 0.2);
    /* right: 3%; */
}

.btnEvaluate {
    width: 150px;
    height: 30px;
    margin-right: -52%;
    margin-bottom: 15px;
    background-color: rgb(10, 41, 143);
    color: white;
    border-radius: 5px;
}

.styledCardBlood {
    background-color: #3b4a74;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
}

.styledCardDiv {
    background-color: #3b4a74;
    position: relative;
    z-index: 0;
    width: 93%;
    margin: 15px auto;
    border-radius: 5px;
}

.styledCardAids {
    background-color: rgb(192, 60, 60);
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

.styledCardAdvise {
    background-color: rgb(37, 107, 37);
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

.styledCardHistory {
    background-color: rgb(246, 246, 246);
}

.styledDivModal{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.styledDivIconModal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: rgb(51, 167, 221);
}

.styledIconModal{
    display: block;
    color: white;
    font-size: xx-large;
    margin: 5px auto;
}

.styledDivIconModalS{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: rgb(19, 180, 27);
}

.styledDivModalS{
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
}

.styledDivLabel{
    text-align: center;
    /* margin: 0px; */
}

.styledDivLabel p {
    font-size: larger;
    font-weight: bolder;
    margin: 0px;
}

.styledCardNegative{
    background-color: rgb(37, 107, 37);
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    /* color: white !important; */
}

.styledContentExpired{
    color: white;
}